/*Form*/
.container {
    width: 35%;
    border: 1px solid #ccc;
    margin: 150px auto;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #ccc;
    padding: 20px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0 0 60px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 30%;
    text-align: center;
}

/* Add padding to container elements */
.container {
    padding: 16px;
    width: 35%;
    border: 1px solid #ccc;
    margin: 150px auto;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #ccc;
    padding: 20px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}